@charset "utf-8";
/* CSS Document */

html,body{
	width:100%;
	height:100%;
}
.TLDlax {width:100%;height:100%;font-family: "helvetica", sans-serif;}
#ADVlax h1, #ADVlax h2, #ADVlax h3, #ADVlax h4 {letter-spacing: 5px;text-transform: uppercase;color: #ffffff;font-weight: 600;}
#KTMlax h1, #KTMlax h2, #KTMlax h3, #KTMlax h4 {font-family:'lato', sans-serif;text-transform: uppercase;}
#BHlax h1, #BHlax h2, #BHlax h3, #BHlax h4 {font-family:'lato', sans-serif;text-transform: uppercase;}
#KTMlax, #BHlax {color:#ffffff;}
h1 {font-size:36px;}
h2 {font-size:30px;}
h3 {font-size:26px;}
h4 {font-size:20px;}
#ADVlax h1 {letter-spacing: 10px;}
.copy {color:#ffffff;}
.orange {color:#ff3c00;}
.bigger {font-size:150% !important;}
.navigation{
	position:fixed;
	z-index:1;
	top:40%;
	right:0;
}
.navigation li{
	background: rgba(255,255,255,0.5);
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-align:left;
	width:120px;
	font-size: 14px;
	text-transform: uppercase;
}
.navigation li:hover {background: #ff0000;color:#ffffff;}
.navigation li:hover, .active {
	font-size:16px;
	cursor:pointer;
	width:130px !important;
}
.slide{
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size:cover;
	background-position: center 0;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
}
.dbutton{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-25px;
	transition: ease-in-out all .5s;
	-webkit-transition: ease-in-out all .5s;
	font-size: 36px;
    text-align: center;
    color: #ffffff;
    line-height: 1.75em;
    padding-left:3px;
}
.dbutton:hover{
	background-color:#ff2c2c;
	cursor:pointer;
	color:#ffffff;
}
#features, #lineup { padding: 10% 0;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
#features h2, .intro h2, #lineup h3 {color:#ccff00;}
#features .row, #features .col-md-7  {height:100%;}
#features .ftr-copy {background: rgba(0,0,0,0.5);margin-right: 30%;padding: 30px;display: block;}
#features .ftr-copy img {width:75%;}
#features .ftr-copy .btn {margin-bottom: 10px;}
.popspot {
    background-color: rgba(255,0,0,0.75);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 5px solid rgba(255,255,255,0.75);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    line-height: 0em;
    transition: ease-in-out all .2s;
	-webkit-transition: ease-in-out all .2s;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-bottom: 6px;
}
button.popspot:focus{outline:none;}
.popspot:hover {    
	font-size: 30px;
    cursor: pointer;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    padding-bottom: 8px;
}
.popimg {max-height: 100%;max-width: 100%;}
.popitem {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 100%;
}
.btn-default, .btn-default:visited, .btn-primary, .btn-primary:visited {
	  color: #ffffff;
    border-radius: 0;
    border: none;
    padding: 10px 20px;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
    transition: ease-in-out all .2s;
}
.btn-primary, .btn-primary:visited{background: #ff2c2c;}
.btn-default, .btn-default:visited{background:#555555;}
.btn-default:hover {background:#777777;color:#ffffff;text-shadow: 2px 2px 0px #666666;}
.btn-primary:hover {background:#ff5858;color:#ffffff;text-shadow: 2px 2px 0px #de1e1e;}

.btn-default:active, .btn-default:focus, .btn-primary:active, .btn-primary:focus {border:none;background:#de1e1e;color:#ffffff;text-shadow:none;}
.flexctr{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

}
.shop {line-height: 300px;}
/******************************
 Intro
*******************************/

#intro p img {float: left;padding-right: 10px;border-right: 1px #ccff00 solid;margin-right: 30px;}

#intro {background: #444444;height: 400px;margin: 0 auto;}
.intro {text-align:center;width: 100%;margin: 10% auto;padding:20px;}
.intro-img {border-bottom: 1px solid #ccff00;padding:0 10px 20px;margin-bottom:20px;width:300px;}
.intro h1 {letter-spacing: 10px;font-weight: 200;margin:0;font-size:20px;text-indent:10px;}
.intro h2 {font-weight: 800;font-size: 40px;margin: 0 0 5px;}
.intro h4 {font-weight: 200;letter-spacing: 3px;font-size: 11px;margin: 0;}
.intro p {color: #dddddd;}
a.link {color: #ffffff;text-decoration: none;display: block;cursor: pointer;}
.intro .link img {width: 75%;margin-top:20px;border-bottom:1px solid #ccff00;}
/******************************
 LINE UP
*******************************/
#lineup .row {margin:0;}
#lineup span {padding:15px;display:block;}
#lineup span img {width:90%;}

/******************************
 SLIDE 1 
*******************************/
#slide1 {
	background-color:000000;
}
#slide1 > img:nth-child(1){
	position:absolute;
	top: -100px;
	left: 30%;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#000000;
}
#slide2 > img:first-child{
	position:absolute;
top: 0;
left: 0;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#000000;
}
#slide3 > img:first-child{
	position:absolute;
	top: 0px;
	left: 0px;
}
#slide3 > img:nth-child(2){
	position:absolute;
	top:0px;
	left:0px;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-color: #000000;
}
/******************************
 SLIDE 5 
*******************************/

#slide5{
	background-color: #000000;
}
/******************************
 SLIDE 6
*******************************/

#slide6{
	background-color: #000000;
}
/******************************
 SLIDE 7
*******************************/

#slide8{
	background: #444444;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
}
/******************************
 VIDEO MODAL
*******************************/

.modal-header {padding: 0 15px;border-bottom: 1px solid #666;}
.modal-title {padding: 15px 0;margin: 0;}
.modal-content {border-radius: 0;background: #212121;border: none;color:#cccccc;}
.modal-body{padding:15px;}
.modal-footer {border-top: 1px solid #666666;}
.modal-body h5 {
    margin-bottom: 2px;
    color: #777;
    font-size: 19px;
    text-transform: uppercase;
}
.TLDlax .modal-body img {width: 100%;}
iframe {border: none;}
.close {
    float: right;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
    color: #666;
    text-shadow: none;
    opacity: 1;
}
.close:hover, .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.btn-icon-r {font-size: 200%;vertical-align: middle;top: inherit;padding: 0;margin-left:10px;}
.btn-icon-l {font-size: 200%;vertical-align: middle;top: inherit;padding: 0;margin-right:10px;}


@media (max-width: 767px) {
	h1 {font-size:30px;}
.navigation {display: none;}
#slide1 {height:100%;}
#intro {height: auto;margin: 0 auto;padding: 30px 10px;}
.slide {height: auto;background-size: auto 100%;background-attachment: scroll;}
.intro {width: 100%;margin: 20% auto 0;}
.intro img, .intro .link img {width:100%;}
.intro h1 {letter-spacing: 5px;margin: 0;font-size: 20px;text-indent: 5px;}
.intro h2 {font-size: 32px;margin: 0;}
.intro h4 {letter-spacing: 0;font-size: 15px;margin: 0;}
#features, #lineup {padding:70px 0;position: relative;}
#features .ftr-copy {padding: 20px;margin-right:0;}
.popimg {width:100%;}
#slide3 {background-position: 75% 0;}
#slide4 {background-position: 25% 0;}
#slide5 {background-position: 75% 0;}
#slide6 {background-position: 25% 0;}
#slide6 .wrapper .btn-default {margin:10px 0;width:100%;text-align: left;}
}
